h1 {
    color:white;
}
body {
    font-family: sans-serif;
}
h2 {
    color:tomato
}
h3 {
    color: white;
}
body {
    background-image: url(https://i.pinimg.com/originals/0a/4d/cb/0a4dcb92fa2d3c601b58d72720d6bec4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position:  center center;
    background-size: cover;

}

#cont {
    color: yellow;
}

html {
    scroll-behavior: smooth;
}
a:hover {
    background-color: chocolate;
    text-decoration-line: underline;
    color: white
}
.crew {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    float: right;
}
.container {
    position: relative;
    width: 80%;
  }
  
.castel {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 767px) {
    body {